figure > img {
  margin: 0
}
figcaption h4 {
  margin: 1rem 0 0;
  font-size: .8rem;
  font-weight: normal;
  text-align: center
}

ol.tutorial-series-list {
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
    counter-reset: li-counter
}
ol.tutorial-series-list.icon {
    vertical-align: top
}
ol.tutorial-series-list.icon-upvote-heart-small {
    vertical-align: middle;
    font-size: 16px;
    position: relative;
    top: -1px
}
ol.tutorial-series-list li {
    padding: 17px 0 7px 20px;
    position: relative;
    border-left: 1px solid #f6936f;
    // background: url(/assets/community / series_border-87 c81b5beccc7496ead260b67c2c60fb.png) 0 100% repeat-x
}
ol.tutorial-series-list li::last-child {
    border-bottom: 0
}
ol.tutorial-series-list li::before {
    position: absolute;
    color: #f6936f;
    content: counter(li-counter);
    counter-increment: li-counter;
    width: 47px;
    text-align: left;
    top: 43%;
    left: -24px;
    font-size: 20px;
    line-height: 20px
}
ol.tutorial-series-list li.active {
    border-left: 1px solid #2481b7
}
ol.tutorial-series-list li.active:before {
    color: #2481b7
}
ol.tutorial-series-list li.active.arrow-left {
    border-right: 4px solid #2481b7
}
ol.tutorial-series-list li:last-child {
    background: 0 0
}
ol.tutorial-series-list li h2 {
    margin-bottom: 6px;
    line-height: 19px;
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
    color: #373737;
    margin-top: 0;
    width: 80%
}
ol.tutorial-series-list li h2 a {
    color: #000
}
ol.tutorial-series-list li .meta a:hover,
ol.tutorial-series-list li h2 a:hover {
    color: #2481b7
}
ol.tutorial-series-list li.meta {
    line-height: 13px;
    color: #a2a29e;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 400
}
ol.tutorial-series-list li.meta span {
    font-style: normal
}
ol.tutorial-series-list li.meta a {
    color: #616161;
    font-size: 13px
}
ol.tutorial-series-list li .author {
    margin: 3px 0 5px 10px
}
ol.tutorial-series-list li div {
    font-size: 16px;
    color: #5f5f5f
}
ol.tutorial-series-list li.arrow-left {
    position: absolute;
    top: 46%;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid#f6936f
}
ol.tutorial-series-list li.points {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    color: #f38176;
    font-size: 13px
}
ol.tutorial-series-list li.points.icon-upvote-heart-full {
    font-size: 18px;
    position: relative;
    top: 4px;
    padding-left: 1px
}
ol.tutorial-series-list li.response-count.icon {
    padding-left: 1px;
    padding-right: 2px
}
ol.tutorial-series-list.feedable-date {
    float: right;
    font-size: 14px;
    color: #767676;
    position: relative;
    top: 3px
}
.feedable-details .series,
h3 .series {
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
    border: 1px solid #f6936f;
    color: #e4754c!important;
    padding: 3px 4px 2px;
    border-radius: 3px;
    letter-spacing: 1px;
    width: auto;
    text-align: center;
    margin-left: 15px;
    vertical-align: middle;
    position: relative;
    line-height: 12px
}
.tutorial-series-container {
    padding-top: 30px
}