				<div id="body-class" style="display: none;"></div>
				<footer id="footer">
					<section class="credits">
						<span class="credits-theme">Theme <a href="https://github.com/zenithar/hugo-theme-bleak" target="_blank" rel="nofollow">Bleak</a> by <a href="http://zutrinken.com" target="_blank" rel="nofollow">zutrinken</a></span>
						<span class="credits-software">Published with <a href="http://gohugo.io" target="_blank" rel="nofollow">Hugo</a></span>
					</section>
				</footer>
				{{ partial "navigation.html" . }}
				{{ partial "toc.html" . }}
				<div class="overlay"></div>
			</div>
		</section>

    <script>
      (function(c,f){asyncLoader=function(i,h){i.foreach(function(k,j){e(j,d(j),h)});if(typeof h.callback=="function"){var g=setInterval(function(){if(f.readyState==="complete"){clearInterval(g);h.callback()}},10)}};var d=function(g){var h=g.split(".");return h[h.length-1]},e=function(h,i,g){switch(i){case"js":a(h,g);break;case"css":b(h);break;default:break}},a=function(i,h){var g=document.createElement("script");g.type="text/javascript";g.async=true;g.src=i;document.getElementsByTagName("head")[0].appendChild(g)},b=function(g){var h=document.createElement("link");h.type="text/css";h.rel="stylesheet";h.href=g;document.getElementsByTagName("head")[0].appendChild(h)};Array.prototype.foreach=function(h){for(var g=0;g<this.length;g++){h(g,this[g])}}})(this,document);

      asyncLoader([
				"/js/dependencies.js",
				"/css/dependencies.css"
      ],{
        callback:function(){
					asyncLoader([
						"/css/style.css",
						"/js/script.js"
					], {
						callback: function() {
							$('body').fadeIn( 800 );
						}
					});
        }
      });

</script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css">

{{ if .Site.Params.googleAnalyticsUserID }}
    {{with .Site.Params.googleAnalyticsUserID }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{.}}', 'auto');
        ga('send', 'pageview');
    </script>
    {{ end }}
{{ else if .Site.Params.googleTagManagerID }}
    {{with .Site.Params.googleTagManagerID }}
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id={{ . }}" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ . }}');
    </script>
    {{ end }}
{{ end }}

</body>
</html>
