<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "pt" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <meta name="viewport" content="width=device-width,minimum-scale=1">
     {{ .Hugo.Generator }}
      {{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
      {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
        <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
      {{ else }}
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
      {{ end }}
      
     <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css" />
     <link rel="stylesheet" href="http://npmcdn.com/tachyons-negative-margin@1.0.0/css/tachyons-negative-margin.min.css" />
     <link href='{{ "css/main.min.css" | absURL }}' rel='stylesheet' type="text/css" />

     {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
      {{ end }}

      {{/* NOTE: These Hugo Internal Templates can be found starting at https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L158 */}}
      {{- template "_internal/opengraph.html" . -}}
      {{- template "_internal/google_news.html" . -}}
      {{- template "_internal/schema.html" . -}}
      {{- template "_internal/twitter_cards.html" . -}}

      {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
        {{ template "_internal/google_analytics_async.html" . }}
      {{ end }}
  </head>

<body class="w-100 avenir bg-washed-yellow dark-gray">

    <header class="w-100 pv3 mt3-ns ph3 ph4-ns">
        <div class="dt-ns center w-100">
            <div class="db dtc-ns v-mid">
                <a href="/" class="dib f4 f3-ns fw7 link dark-gray hover-orange nowrap" title="Home">
                    Sérgio Jardim
                </a>
            </div>
            <nav class="db dtc-ns v-mid w-100 tl tr-ns mt3 mt0-ns">
                <a title="Articles" href="/articles/" class="f5 fw6 hover-orange link dark-gray mr3 mr4-l dib">
                    Articles
                </a>
                <a title="About" href="/About/" class="f5 fw6 hover-orange link dark-gray mr3 mr4-l dib">
                    About
                </a>
                <a title="Resources" href="/resources/" class="link hover-orange dark-gray mr3 mr4-l dib w1 v-mid">
                    <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
                        <title>twitter icon</title>
                        <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
                    </svg>
                </a>
                <a title="Resources" href="/resources/" class="link hover-orange dark-gray mr3 mr4-l dib w1 v-mid">
                    <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
                        <title>github icon</title>
                        <path d="M0 18 C0 12 3 10 3 9 C2.5 7 2.5 4 3 3 C6 3 9 5 10 6 C12 5 14 5 16 5 C18 5 20 5 22 6 C23 5 26 3 29 3 C29.5 4 29.5 7 29 9 C29 10 32 12 32 18 C32 25 30 30 16 30 C2 30 0 25 0 18 M3 20 C3 24 4 28 16 28 C28 28 29 24 29 20 C29 16 28 14 16 14 C4 14 3 16 3 20 M8 21 A1.5 2.5 0 0 0 13 21 A1.5 2.5 0 0 0 8 21 M24 21 A1.5 2.5 0 0 0 19 21 A1.5 2.5 0 0 0 24 21 z"></path>
                    </svg>
                </a>
                <a title="English" href="/" class="f6 mr1 gold fw6 hover-orange link dark-gray dib">
                    EN
                </a>
                <a title="Português" href="/pt" class="f6 fw6 hover-orange link dark-gray dib">
                    PT
                </a>                
            </nav>
        </div>
    </header>

    <main class="w-100 mt4">
        <section class="ph4-ns mb4-ns">                    
            <p class="w-50-l f5 f4-ns lh-copy mid-gray">
            Welcome to this blog where I'll talk about web development, graphic design and other nerd stuffs.
            </p>       
        </section>

        <section class="cf pt3-ns pb3 ph3 ph4-ns bg-gold black-70" id="featured">
            <div class="fl-l w-50-l pl4-ns">                
                
                <h5 class="f6 ttu tracked w-100 bg-yellow pt2 pb1 pl2">Development</h5>

                <article class="w-90-ns">
                    <!--<a href="#" class="link white dim">Development</a>-->
                    <a href="/components/" class="link dark-gray hover-white" title="Tachyons components">
                    <h1 class="f2 f1-ns fw6 mb4 mt3">
                        Open source component library
                    </h1>
                    <p class="f5 f3-ns lh-copy mt0 serif">
                        
                        There is a growing library of open source components written in static html that are easy
                        to use as is, customize with your own theme, or port to a templating language.
                        
                    </p>                
                    </a>
                    <footer class="mb3">                    
                        <ul class="list pl0">
                            <li class="dib mr1 mb2"><a href="#" class="f6 db link dim dark-gray b--black-20 i">ProcessWire</a></li>
                            <li class="dib mr1 mb2 i"><a href="#" class="f6 db pa2 link dim dark-gray b--black-20">Design</a></li>
                        </ul>
                    </footer>
                </article>              
            </div>
            <div class="fr-l w-50-l mtn5-ns tc">
                <a href="/" class="db">
                    <img src="{{ "images/edit.png" | absURL }}" alt="" width="720" class="ba b--silver shadow-3 grow ">
                </a>
                <a class="f6 fw6 link dim br1 ph3 pv2 mt3 dib mid-gray bg-white ttu" href="#0">Read Article</a>
            </div>
        </section>

        {{ block "main" . }}{{ end }}
       
    </main>

</body>
</html>
