<!-- https://www.digitalocean.com/community/tutorials/how-to-set-up-a-host-name-with-digitalocean -->
<div class="section-content">

      <h2 class="tutorial-series-heading">Tutorial Series</h2>


          <div id="tutorial_series_6" class="tutorial-series ">

            <h3 class="series-title"><a href="/community/tutorial_series/an-introduction-to-managing-dns">An Introduction to Managing DNS</a></h3>

              <div class="description">
                DNS, or the domain name system, is an essential component of modern internet communication.  It allows us to reference computers by names instead of IP addresses.  In this series, we will cover the basic ideas behind DNS so that you feel comfortable working with it.  Afterwards, we will walk through various ways that you can gain greater control over your domains and DNS resolution.
              </div>
            <ol class="tutorial-series-list">

    <li class="">
      <h2><a href="/community/tutorials/an-introduction-to-dns-terminology-components-and-concepts">An Introduction to DNS Terminology, Components, and Concepts</a></h2>

      <div class="feedable-date">February 18, 2014</div>
      <div class="meta">
        <div class="points">
          <span class="icon-upvote-heart-small"></span>
          111
        </div>

        <div class="response-count">
          <span class="icon icon-new-comment"></span>
          9
        </div>

        <div class="views"><span class="icon icon-eye v-mid"></span><span class="views-count v-mid">131.9k</span><span class="sr-only"> views</span></div>

          <span class="author">By <a href="/community/users/jellingwood">Justin Ellingwood</a></span>
      </div>
      <div class="arrow-left"></div>
    </li>

</ol>

          </div>
    </div>