<style type="text/css">
  .movie__block {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd
  }
  .movie__block__title {
    margin: 0;
  }
  .movie__poster {
    float: left;
    max-width: 90px;
    margin: 1rem 0;
  }
  .movie__info {
    float: left;
    max-width: 80%;
    margin: 1rem;
    padding: 0;
  }
  .movie__info > li::before {
    display: none
  }
</style>


{{ range $.Page.Site.Data.movies.movies }}
<div class="movie__block">
  <h4 class="movie__block__title"><a href="http://www.imdb.com/title/{{ .imdbID }}/">{{ .Title }}</a></h4>
 <img src="{{ .Poster }}" class="movie__poster" alt="{{ .Title }} poster" />
  <ul class="movie__info">
    <li><strong>Ano/Gênero</strong>: {{ .Year }} / {{ .Genre }}</li>
    <li><strong>Diretor</strong>: {{ .Director }}</li>
    <li><strong>Escritor(es)</strong>: {{ .Writer }}</li>
    <li><strong>Atores</strong>: {{ .Actors }}</li>
  </ul>
</div>
{{ end }}